:root {
  --violet: hsl(263, 55%, 52%);
  --blue-grayish: hsl(217, 19%, 35%);
  --blue-blackish: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  --gray-light: hsl(0, 0%, 81%);
  --blue-light: hsl(210, 46%, 95%);

  font-family: "Barlow Semi Condensed", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
}

body {
  min-height: 100vh;
  padding: 4rem 1.5rem;
  line-height: 1.5;
  background: var(--blue-light);
}

main {
  display: flex;
  justify-content: center;
}
.container {
  display: grid;
  gap: 1.5rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  font-size: 0.8125rem;
}

.testimonial_author {
  display: flex;
  font-size: 0.8125rem;
  font-weight: 500;
}

.testimonial_author div {
  padding: 0.25rem;
}

.testimonial_position {
  font-size: 0.6875rem;
  opacity: 0.5;
}

.testimonial_pattern {
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 15%;
}

.testimonial_content {
  padding: 2rem 1.75rem;
}

.profile-picture {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border-radius: 50%;
}

.testimonial_name {
  font-size: 0.8125rem;
  font-weight: 500;
}

.testimonial_highlight {
  padding: 1rem 0rem;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0.3px;
}

.testimonial_quote {
  opacity: 0.7;
  font-weight: lighter;
  letter-spacing: 0.4px;
}

.testimonial--violet {
  background-color: var(--violet);
  color: var(--white);
}

.testimonial--blue-grayish {
  background: var(--blue-grayish);
  color: var(--white);
}

.testimonial--blue-blackish {
  background: var(--blue-blackish);
  color: var(--white);
}

.testimonial--white {
  background: var(--white);
}

@media screen and (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 85%;
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial:first-child {
    grid-column: span 2;
  }

  .testimonial--blue-blackish {
    grid-column-start: 2;
    grid-row-start: 3;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 80%;
    grid-template-columns: repeat(4, 1fr);
  }

  .testimonial:last-child {
    grid-column: 4;
    grid-row: 1 / span 2;
  }

  .grid-col-span-2 {
    grid-column: span 2;
  }
}
